/*============MENU TOP=============================================================*/
#topmenu ul#navigation-1{ 
	margin:0;
	padding:0;
	list-style:none;}
#topmenu ul#navigation-1 li{ 
        margin:0; 
	display:block; 
	float:left; 
	position:relative;
	}
#topmenu ul#navigation-1 li a:link,
#topmenu ul#navigation-1 li a:visited{ 
	padding-left:11px;
	padding-right:11px;
	padding-top:8px;
	padding-bottom:10px;
	font-size:11px;
   font-family:Helvetica;
	display:block; 
	text-align:center; 
	text-decoration:none; 
	color:#FFFFFF;
	height:10px;
	border-right:solid #009966 1px;
	text-transform:uppercase;
	}
#topmenu ul#navigation-1 li:hover a,
#topmenu ul#navigation-1 li a:hover,
#topmenu ul#navigation-1 li a:active{ 
	text-align:center; 
	text-decoration:none; 
	background:url(../images/menu-hover.jpg) repeat-x; 
	color:#FFFFFF;
	padding-top:6px;
	}
	
	
#topmenu ul#navigation-1 li ul.navigation-2{ 
	margin:0;
	padding:1px 1px 0; 
	list-style:none; 
	display:none; 
	position:absolute;
	}
#topmenu ul#navigation-1 li:hover ul.navigation-2
	{ display:block; }

#topmenu ul#navigation-1 li ul.navigation-2 li a:link,
#topmenu ul#navigation-1 li ul.navigation-2 li a:visited{ 
	clear:left; 
	background:#00039A;
	opacity:0.9;
	padding-left:10px; 
	width:150px; 
	border:none;
	text-align:left;
	position:relative; 
	z-index:1000; 
	text-transform:capitalize;
	border-bottom:#005FBD 1px solid;
	margin-left:-5px;
	font-size:12px;
	}
#topmenu ul#navigation-1 li ul.navigation-2 li:hover a,
#topmenu ul#navigation-1 li ul.navigation-2 li a:active,
#topmenu ul#navigation-1 li ul.navigation-2 li a:hover{  
	background:#000966;
	}
	
	
	
		
#topmenu ul#navigation-1 li ul.navigation-2 li ul.navigation-3{ 
	margin:0;
	padding:1px 1px 0; 
	list-style:none; 
	display:none; 
	position:absolute;
	}
#topmenu ul#navigation-1 li ul.navigation-2 li:hover ul.navigation-3{ 
	display:block;
	position:absolute;
	margin-left:150px;
	margin-top:-20px;
	z-index:2000;
	}

#topmenu ul#navigation-1 li ul.navigation-2 li ul.navigation-3 li a:link,
#topmenu ul#navigation-1 li ul.navigation-2 li ul.navigation-3 li a:visited{ 
	clear:right; 
	background:#3B00BB; 
	padding-left:10px; 
	width:150px; 
	border:none;
	text-align:left;
	position:relative; 
	z-index:2000;
	border-bottom:#0047EE 1px solid;
	}
#topmenu ul#navigation-1 li ul.navigation-2 li ul.navigation-3 li:hover a,
#topmenu ul#navigation-1 li ul.navigation-2 li ul.navigation-3 li a:active,
#topmenu ul#navigation-1 li ul.navigation-2 li ul.navigation-3 li a:hover{  
	background:#009900;
	}
	
/*============Glossy  TOP=============================================================*/
#left .glossymenu{
margin: 5px 0;
padding: 0;
}

#left .glossymenu a.menuitem{
background: url(../images/menu.jpg) repeat-x bottom center;
font: normal 14px Verdana, Helvetica, sans-serif;
color: #364581;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 7px 0;
padding-left: 10px;
text-decoration: none;
}


#left .glossymenu a.menuitem:visited, #left .glossymenu .menuitem:active{
color: 364581;
}

#left .glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 10px;
right: 10px;
border: none;
}

#left .glossymenu a.menuitem:hover{
background: url(../images/menu-hover.jpg) repeat-x bottom center;
}

#left .glossymenu div.submenu{ /*DIV that contains each sub menu*/
background: #DDEAF7;
margin:2px;
}

#left .glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

#left .glossymenu div.submenu ul li{
border-bottom: 1px dashed #CCCCCC;
}

#left .glossymenu div.submenu ul li a{
display: block;
font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: black;
text-decoration: none;
padding: 2px 0;
padding-left: 10px;
}

#left .glossymenu div.submenu ul li a:hover{
background: #A2BFF0;
colorz: white;
}

/*============================SIDE MENU====================================================*/
#side{background:#EBEBFE;
	font-size:12px;
	margin-bottom:15px;
	}
#side ul{margin:0;
	padding:0;
	list-style-position:inside;
	}
#side li a{padding:2px 5px 4px 15px;
	display:block;
	text-align:left;
	text-decoration:none;
	color:#7287DC;
	font-size:12px;
	border-bottom:#CCCCCC 1px dotted;
	background:url(../images/ul-2.jpg) left no-repeat;
	}
#side li a:hover{
	color:#000033;
	background:url(../images/ul-2-hover.jpg) left no-repeat #CCCCCC;
	}
#side #bot{background:url(../images/side-bot.jpg) no-repeat bottom center;
	height:14px;
	}
