/*
CSS Multi Tab Video by Blog Mas Tamvan
*/



#multi-tab-video{position:relative;box-sizing:border-box;margin:0 auto;line-height:2em;font-size:15px!important;width:100%}
#multi-tab-video #player{position:relative;padding-bottom:56.25%;padding-top:1.66666666666667em;height:0}
#multi-tab-video #player iframe{position:absolute;top:0;left:0;width:100%;height:100%}
#multi-tab-video #server-list{position:relative;background:#fafafa;display:block}
#multi-tab-video #server-list .server-item:before{content:attr(title);width:9.93333333333333em;display:inline-block;padding-left:0.933333333333333em}
.server-item{border-bottom:1px solid #c8c8cb}
#multi-tab-video #server-list a{color:#334;text-decoration:none;border:1px solid #443;padding:0.333333333333333em 0.666666666666667em;display:inline-block;margin:0.333333333333333em;box-sizing:border-box}
a:active{background-color:yellow}
</style>